#map{
  width 100%;
  height 200px
  padding 0
  margin 0
}

.gf-
  &add-pull
    &_title
      font-size 18px
      text-transform uppercase
      letter-spacing 0
      display block
      text-align center
      margin-top 10px
    &__shop-list
      display flex
      text-align center
      flex-flow row wrap
      justify-content center
      width 60%
      margin 0 auto
    &__shop
      display inline-block
      vertical-align top
      width 31%
      margin 2% 1%
      &_val
        margin 0
        padding 0
        appearance none
        &:active +.gf-add-pull__shop_img
          opacity 0.9
        &:checked +.gf-add-pull__shop_img
          opacity 1
          border 3px solid color_blue
        &:hover
          opacity 1
          border-color color_blue
      &_img
        background-size 100% 100%;
        cursor pointer
        background-repeat no-repeat
        display block
        width 200px
        height 130px
        margin 3px
        opacity 0.7
        color transparent
        transition .3s
        border 3px solid darken(color_main, 5%)
        &:focus
          outline none
        &:hover
          opacity 1
    .octicon
      bottom 8px
      top auto

.bootstrap-datetimepicker-widget+span {
  color color_blue-dark !important
}

@media all and (max-width (width_sm - 1px))
  .gf-add-pull__shop
    width 31%
    &-list
      width 100%


@media all and (max-width 550px )
  .gf-add-pull__shop_img
    height 20vw