<template name="addPool">
    <div class="row">
        <div class="container">
            <div class="list-group col-xs-12 col-sm-8 col-sm-offset-2">
                <form id="add_pool">
                    <div class="form-group">
                        <label class="control-label" for="time">Время заказа</label>
                        <div class="input-group datetimepicker">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            <input class="set-due-date form-control" name="time" id="time" placeholder="Введите удобное время" type="text"/>
                        </div>
                    </div>
                    <div class="input-group">
                        <button class="btn btn-success">Создать</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
