.addPool__header
  color color_blue
  font-size 48px
  margin-bottom 1em
  text-align center

.addPool__body
  .control-label
    display block
    text-align center
    color color_default
    font-size 22px
    font-weight normal

.addPool__submit
  padding-top 3em
  &>div
    width 100%
    text-align center
  button
    margin 0 auto
    width 220px

.shopChoices
  text-align center

.shopChoice
  display inline-block
  vertical-align top
  width 31%
  margin 2% 0

.shopChoice input
  margin 0
  padding 0
  -webkit-appearance none
  -moz-appearance none
  appearance none

.shopChoice .shopChoice__img
  cursor pointer
  background-size cover
  background-repeat no-repeat
  display block
  width 205px
  height 144px
  margin 3px
  opacity 0.8
  color: transparent
  transition: opacity .2s

.shopChoice .shopChoice__img:hover
  opacity 1

.shopChoice input:active +.shopChoice__img
  opacity 0.9

.shopChoice input:checked +.shopChoice__img
  opacity 1
  border 3px solid color_light_blue
