.new-product-input-group--major
  margin 20px 0 30px

.join-button
  padding 0

.gf-
  &hide
    display none
  &map-delivery
    padding 20px 0 0
    font-size 18px
    text-align center
  &pull
    @extend .gf-container
    box-shadow 3px 3px 3px rgba(0,0,0,0.05)
    background color_white
    &__header
      background color_blue
      padding 5px 20px
      border 1px solid darken(color_blue, 10%)
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      &_price
        float right
        font-weight 500
        color color_white
        font-size 22px
        opacity .8
        text-shadow 1px 1px 1px rgba(0,0,0,0.09)
      &_shop-name
        font-weight 500
        color color_white
        font-size 22px
        opacity .8
        text-shadow 1px 1px 1px rgba(0,0,0,0.09)
      &_date
        margin-left 10px
        font-size 16px
        opacity .7
        color color_black
      &_time
        margin-left 5px
        font-size 16px
        font-weight 700
        opacity .7
        color color_black
      &_interval
        margin-left 5px
        font-style oblique
        font-size 16px
        opacity .7
        letter-spacing 0
        color color_black
        &before
          content "("
        &after
          content ")"
    &__form
      border 1px solid color_blue
      border-top-style dashed
      box-shadow none
    &_add
      height auto
      font-size 13px
      width auto
      padding 2px 5px
      float right
      opacity .95
      line-height 13px
    &__wrap-btn
      margin-top 41px
    &_btn-add
      width 300px
      line-height 35px
      height 37px
  &items
    padding 0 0 20px
    background-color color_white
    border 1px solid color_blue
    border-top none
    border-bottom-style dashed
    &_copy-order
      font-size 20px
    &__owner
      list-style none
      padding 20px 20px 0
      &_name
        font-size 19px
        font-weight 500
        color color_black
        opacity .9
        margin-right 10px
      &_price
        font-size 20px
        font-weight bold
        color #6A95B0
        opacity .9
      &_img-wrap
        border-radius 48%
        overflow hidden
        width 32px
        height 32px
        display inline-block
        vertical-align top
        margin-right 15px
        box-shadow 2px 2px 7px rgba(85,85,85,0.1)
      &_img
        vertical-align top
    &__wrap
      margin 5px 0
  &item
    display block
    &_price
      font-size 18px
    &_quantity
      margin-left 5px
      color color_gray-mid
    &_link
      color color_gray-mid
      font-style: italic;
      font-size: 16px;
      margin-right: 10px
      text-decoration: underline
      transition: .3s
      &:hover,
      &:active
        text-decoration underline
        color: darken(color_blue, 25%)


@media all and (max-width: width_sm)
  .gf-pull
    &__form
      padding-top: 0
    &_btn-add
      width: 100%
    &__body
      padding-bottom: 0
