.user__field
  height 46px
  padding 10px 16px
  font-size 18px
  line-height 1.3333333
  position relative
  z-index 2
  float left
  width 100%
  margin-bottom 0
  display block
  color #555
  border 1px solid #ccc
  border-top-right-radius 6px
  border-bottom-right-radius 6px
