<template name="debts">
    <div class="container clearfix content-container">
        <div class="gf-container gf-form gf-debts">
        {{>debtsHeader}}
            {{#each debtsOrders}}
                {{#if isNoSelfDebt}}
                    {{>debtsListItem}}
                {{/if}}
            {{else}}
                <div class="gf-items__owner">
                    <div class="gf-center">
                        <i class="glyphicon glyphicon-piggy-bank"></i>
                        <span class="gf-debts_title">У вас нет долгов.</span>
                    </div>
                    <div class="gf-debts__info">Все ваши должники находятся в <a class="gf-link-dark" href="{{pathFor 'history'}}">соответствующих пулах</a></div>
                </div>
            {{/each}}
        {{#if hasMore}}
            <div class="row">
                <a class="load-more" href="/debts/{{nextPath}}">Загрузить ещё</a>
            </div>
        {{/if}}
            </div>
    </div>
</template>

<template name="debtsHeader">

    <div class="gf-pull__header clearfix">
        {{#if paidOrdersPrice}}
            <div class="gf-pull__header_price gf-debts__header">Долг: {{paidOrdersPrice}}</div>
        {{/if}}
        {{#if allOrdersPrice}}
            <div class="gf-debts__header_allprice">{{allOrdersPrice}}</div>
        {{/if}}
    </div>
</template>

<template name="debtsListItem">
    <li class="order {{#if isPaid }}order_ispaid{{/if}}">
        <span class="order__username">
            Кому
            <img class="avatar" src="{{avatarUser poolOwnerId 24}}" width="24" height="24" alt="avatar user">
            {{usermail poolOwnerId}}
        </span>
        <span class="gf-order_price">
            Сколько: {{getOrderPrice _id}}
        </span>
        <ul class="items">
            {{# each items }}
                <li class="item">
                    <span class="item__title">
                        {{#with item}}
                            {{#if link}}
                                <a href="{{link}}" target="_blank" title="{{description}}">{{title}}</a>
                            {{else}}
                                {{title}}
                            {{/if}}
                        {{/with}}
                    </span>
                    <span class="item__price">
                        ({{getPriceWithFormat item.price}})
                    </span>
                    {{#if moreOne count}}
                        <span class="item__count">
                            x{{count}}
                        </span>
                    {{/if}}
                </li>
            {{/each}}
        </ul>
    </li>
</template>
