<template name="debts">
    <div class="container clearfix content-container">
        {{>debtsHeader}}
        <div class="row">
            {{#each debtsOrders}}
                {{#if isNoSelfDebt}}
                    {{>debtsListItem}}
                {{/if}}
            {{else}}
                <div class="blankslate blankslate_spacious blankslate_large">
                    <h2><i class="glyphicon glyphicon-piggy-bank"></i></h2>
                    <h3>У вас нет долгов.</h3>
                    <p>Все ваши должники находятся в <a href="{{pathFor 'history'}}">соответствующих пулах</a></p>
                </div>
            {{/each}}
        </div>
        {{#if hasMore}}
            <div class="row">
                <a class="load-more" href="/debts/{{nextPath}}">Загрузить ещё</a>
            </div>
        {{/if}}
    </div>
</template>

<template name="debtsHeader">
    <div class="debts__header clearfix">
        {{#if paidOrdersPrice}}
            <div class="debts__header_paid">Долг: {{paidOrdersPrice}}</div>
        {{/if}}
        {{#if allOrdersPrice}}
            <div class="debts__header_allprice">{{allOrdersPrice}}</div>
        {{/if}}
    </div>
</template>

<template name="debtsListItem">
    <li class="order {{#if isPaid }}order_ispaid{{/if}}">
        <span class="order__username">
            Кому
            <img class="avatar" src="{{avatarUser poolOwnerId 24}}" width="24" height="24" alt="avatar user">
            {{usermail poolOwnerId}}
        </span>
        <span class="order__price">
            Сколько {{getOrderPrice _id}}
        </span>
        <ul class="items">
            {{# each items }}
                <li class="item">
                    <span class="item__title">
                        {{#with item}}
                            {{#if link}}
                                <a href="{{link}}" target="_blank" title="{{description}}">{{title}}</a>
                            {{else}}
                                {{title}}
                            {{/if}}
                        {{/with}}
                    </span>
                    <span class="item__price">
                        ({{getPriceWithFormat item.price}})
                    </span>
                    {{#if moreOne count}}
                        <span class="item__count">
                            x{{count}}
                        </span>
                    {{/if}}
                </li>
            {{/each}}
        </ul>
    </li>
</template>
