.gf-
  &debts
    padding 0
    .glyphicon
      font-size 19px
      margin-right 5px
      color color_main
    &_title
      font-size 22px
    &__header
      display block
      width 100%
      &_allprice
        color color_white
        text-shadow 1px 1px 1px rgba(0,0,0,0.09)
    &__info
      margin-bottom 15px
      font-size 16px
      margin-top 15px
  &order
    margin-bottom 15px
    &_username
      font-size: 20px
    &_price
      font-size: 20px
