<template name="profile">
    <div class="container clearfix content-container">
        <form action="" class="js-saveProfile gf-form">
            <div class="gf-user-img gf-profile__user-img-wrap">
                <img class="gf-profile_img" src="{{avatarUser currentUser._id 128}}" alt=""/>
            </div>
            <div class="gf-form__half pr10">
                <div class="gf-form__input-wrap">
                    <span class="gf-form__input-title">Как к вам обратиться?</span>
                    {{#with profileUser}}
                        <input type="text" class="gf-form__input" id="profileUsername" name="profileUsername" placeholder="Ваше имя" value="{{username}}" autocomplete="off">
                    {{/with}}
                    <span class="octicon octicon-octoface"></span>
                </div>
                <div class="gf-form__input-wrap">
                    <span class="gf-form__input-title">Вам перезвонят по поводу заказа</span>
                    {{#with profileUser}}
                        <input type="text" class="gf-form__input" id="profilePhone" name="profilePhone" placeholder="Телефон" value="{{phone}}" autocomplete="off">
                    {{/with}}
                    <span class="octicon octicon-device-mobile"></span>
                </div>
            </div>
            <div class="gf-form__half pl10">
                <div class="gf-form__input-wrap">
                    <span class="gf-form__input-title">Исключительно для важных оповещений!</span>
                    <input type="email" class="gf-form__input" id="profileEmail" name="profileEmail" value="{{emailUser}}" autocomplete="off" placeholder="Электронная поочта">
                    <span class="octicon octicon-mail"></span>
                </div>
                <div class="gf-form__input-wrap">
                    <span class="gf-form__input-title">Где вы работаете?</span>
                    {{#with profileUser}}
                        <input type="text" class="gf-form__input" id="profileCompany" name="profileCompany" value="{{company}}" autocomplete="off" placeholder="Название компании">
                    {{/with}}
                    <span class="octicon octicon-globe"></span>
                </div>
            </div>
            <span class="gf-form__input-title">Мы запомним ваш адрес один раз, и больше его не нужно будет вводить</span>
            <div class="rel">
                {{#with profileUser}}
                    <input type="text" class="gf-form__input" id="profileAddress" name="profileAddress" placeholder="Ваш адрес" value="{{address}}" autocomplete="off">
                {{/with}}
                <span class="octicon octicon-home"></span>
            </div>
            <div class="gf-button-wrap">
                <input type="submit" class="gf-button gf-button--blue gf-profile_submit" value="Сохранить" />
            </div>
        </form>
    </div>
</template>
