.gf-
  &profile
    animation fadeIn .5s
    &__user-img-wrap
      width 150px
      height 150px
      -webkit-border-radius 47%
      -moz-border-radius 47%
      border-radius 47%
      overflow hidden
      margin 0 auto 20px
      border-width 2px
      box-shadow 5px 5px 13px #ddd
    &_img
      width 100%
    &_submit
      width 200px
      margin 0 auto
      display block
      margin-top 25px