.input-group-addon
  font-size 15px

for field in 'email' 'company'
  .profile-{field}
    .input-group
      width 100%
      .input-group-addon
        background url('/img/i-' + field + '-dark.png') center no-repeat, #eee
        background-size 15px
        width 39px

.profile
  &-avatar
    text-align center
  &-submit
    margin 0 auto 5em
    width 230px
    >input
      height 3em
