.list-group
  padding 0
  &__date
    font-size 16px
    padding 1em 0 0
    color color_default
    margin-bottom 1em

  &__add-button
    background color_main_green
    opacity: .6
    box-shadow: 0 0 4px rgba(0,0,0,0.14), 2px 4px 9px rgba(80,80,80,0.15);
    box-sizing content-box
    cursor pointer
    width: 12vw;
    height: 12vw;
    text-align: center;
    position: fixed;
    bottom: 40px;
    right: 40px;
    border-radius: 50%;
    line-height: 11.5vw;
    color: lighten(color_main, 25%)
    font-size: 9vw;
    &:hover,
    &:focus
      text-decoration: none
      color: lighten(color_main, 25%)

  &__pools
    &_pending
      border 1px solid transparent
    &_summary
      border 1px solid color_orange
    &_archived
      opacity 0.5

.gf-
  &no-pulls
    text-align center
    &_text
      font-weight 100
      color color_black
      display block
      font-size 17px
      &--big
        font-size 25px
        margin-top 10px
        margin-bottom 3px
        font-weight 100

.octicon-circuit-board
  color color_main_green
  font-size 32px
  opacity: .6

@media all and (max-width: (width_sm - 1px))
  .octicon-circuit-board
    font-size: 64px;
  .gf-
    &no-pulls
      margin-top: 45vw
