.list-group
  padding 0
  &__date
    font-size 22px
    padding 1em 0 0 0.5em
    color color_default

  &__pools
    &_pending
      border 1px solid transparent
    &_summary
      border 1px solid color_primary
    &_archived
      opacity 0.5

.blankslate
  position relative
  padding 100px 60px 120px
  text-align center
  background-color color_gray-light
  border 1px solid color_gray
  border-radius 3px
  box-shadow inset 0 0 10px rgba(0,0,0,0.05)
