<template name="poolsList">
    <div class="content-container">
        <div class="gf-container gf-pulls">
            {{#each poolsWithDates}}
                <div class="gf-pulls_date clearfix">
                    {{dateByDayOfYear date}}
                </div>
                <div class="gf-pulls_group clearfix">
                {{#each pools}}
                    {{>poolsListItem}}
                {{/each}}
                </div>
            {{else}}
                <div class="gf-no-pulls">
                    <span class="octicon octicon-circuit-board"></span>
                    <span class="gf-no-pulls_text gf-no-pulls_text--big">Нет пуллов в ближайшее время.</span>
                    <p class="gf-no-pulls_text">Но вы можете <a class="gf-link" href="{{pathFor 'pool_add'}}">создать новый</a>, это очень просто.</p>
                </div>
            {{/each}}
            <a class="list-group__add-button visible-xs" href="{{pathFor 'pool_add'}}">+</a>
        </div>
    </div>
</template>
