<template name="poolsList">
    <div class="content-container">
        <div class="list-group col-xs-12 col-sm-8 col-sm-offset-2">
            {{#each poolsWithDates}}
                <div class="list-group__date clearfix">
                    {{dateByDayOfYear date}}
                </div>
                <div class="list-group__pools clearfix">
                {{#each pools}}
                    {{>poolsListItem}}
                {{/each}}
                </div>
            {{else}}
                <div class="blankslate blankslate_spacious blankslate_large">
                    <h2><i class="glyphicon glyphicon-list"></i></h2>
                    <h3>Нет пуллов в ближайшее время.</h3>
                    <p>Но вы можете <a href="{{pathFor 'pool_add'}}">создать новый</a>, это очень просто.</p>
                </div>
            {{/each}}
            <a href="{{pathFor 'pool_add'}}" class="list-group__add-button visible-xs">+</a>
        </div>
    </div>
</template>
