<template name="poolsListItem">
    <a href="{{pathFor 'pool' poolId=_id }}"
       class="list-group__pools_{{state}} list-group-item pools-list-item clearfix">
        <span class="pools-list-item__time col-xs-3 col-sm-2">{{formatTime time 'HH:mm'}}</span><!--
     --><span class="pools-list-item__shop col-xs-3 col-sm-2">{{shop}}</span><!--
     --><span class="pools-list-item__owner col-xs-6 col-sm-4">
        <img class="avatar" src="{{avatarUser currentUser._id 24}}" width="24" height="24" alt="avatar user">
        {{usermail ownerId}}
        </span><!--
     --><span class="pools-list-item__money col-xs-6 col-sm-3">{{poolPrice}}</span><!--
     --><span class="pools-list-item__users col-xs-6 col-sm-1"> <i class="glyphicon glyphicon-user"></i> {{userCount}}</span>
    </a>
</template>
