.pools-list-item
  align-items center
  border-radius 0 !important
  box-shadow 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24)
  margin 1em 0
  &__time
    display inline-block
    width 10%
    text-align center
    font-size 24px
    color color_light_blue
    font-weight 400
  &__shop
    display inline-block
    width 15%
    text-align center
    font-size 19px
    color color_dark-red
    font-weight 300
  &__owner
    display inline-block
    width 45%
    font-size 18px
    color color_default
  &__money
    display inline-block
    width 20%
    color color_default
    text-align right
    font-size 18px
  &__users
    display inline-block
    width 10%
    text-align center
    font-size 16px
