.pools-list-item
  align-items center
  border-radius 0 !important
  box-shadow 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24)
  margin 0 0 1em
  &__time
    font-size 24px
    color color_light_blue
    font-weight 400
.gf-
  &pulls
    margin-top 0
    &_date
      font-size 20px
      opacity .8
      color color_black
    &_group
      margin 0 0 30px
      opacity .9
    &_time
      font-size 20px
      color color_magic-green
      display inline-block
      width 20%
      text-align left
    &_time-left
      font-weight 100
    &_shop
      display inline-block
      width 15%
      margin-left 40px
      min-width 100px
      color darken(color_blue, 10%)
      font-size 17px
      text-transform uppercase
      margin-right 11px
      font-weight 700
      text-align left
    &__author
      width 37%
      display inline-flex
      vertical-align middle
      &_name
        vertical-align middle
        line-height 28px
        font-size 18px
    &_price
      display inline-block
      width 18%
      font-size 18px
      text-align left
    &_users
      float right
      font-weight bold
      line-height 32px
      font-size 16px
  &pull
    &__block
      padding 10px 15px
      background-color #FEFEFE
      margin 10px 0
      border-radius 2px
      border 1px solid #D7D7D7
      opacity .9
      box-shadow 3px 2px 3px rgba(0,0,0,0.1)
    &__pending
      opacity 1
    &__summary
      opacity .7
    &__archived
      opacity 0.5
      background #e1e1e1

@media all and (max-width: width_sm)
  .gf-
    &pulls
      margin-top 15px
      &_price
        width 50%
        float left
      &_users
        float right
      &_time
        width 50%
      &__author
        width 100%
        display block
        margin-top 10px
        margin-bottom 10px
      &_shop
        float right
        display inline
        text-align right
        margin-right 0
      &__author_name
        vertical-align text-bottom
      &_date
        font-size 20px
        opacity 0.8
        color color_black
        margin-left 16px
        margin-bottom -5px
    &pull
      &_add
        margin-bottom 15px
        float left
