<template name="poolsListItem">
    <a href="{{pathFor 'pool' poolId=_id }}" class="gf-pull__{{state}} list-group-item gf-pull__block clearfix">
        <span class="gf-pulls_time"><span>{{formatTime time 'HH:mm'}}</span><small class="gf-pulls_time-left">{{formatTimeDiff timeDelivery}}</small></span>
        <span class="gf-pulls_shop">{{shop}}</span>
    <span class="gf-pulls__author">
        <img class="gf-user-img gf-pulls_author_img" src="{{avatarUser ownerId 24}}" width="24" height="24" alt="avatar user">
       <span class="gf-pulls__author_name">{{usermail ownerId}}</span>
        </span>
     <span class="gf-pulls_price">{{poolPrice}}</span>
     <span class="gf-pulls_users"> <span class="octicon octicon-octoface"></span>&nbsp;{{userCount}}</span>
    </a>
</template>
