<template name="poolsListItem">
    <a href="{{pathFor 'pool' poolId=_id }}" class="list-group__pools_{{state}} list-group-item pools-list-item">
        <span class="pools-list-item__time">{{formatTime time 'HH:mm'}}</span><!--
     --><span class="pools-list-item__shop">{{shop}}</span><!--
     --><span class="pools-list-item__owner">
        <img class="avatar" src="{{avatarUser currentUser._id 24}}" width="24" height="24" alt="avatar user">
        {{usermail ownerId}}
        </span><!--
     --><span class="pools-list-item__money">{{poolPrice}}</span><!--
     --><span class="pools-list-item__users"> <i class="glyphicon glyphicon-user"></i> {{userCount}}</span>
    </a>
</template>
