.pools-list-item
  display flex
  align-items center
  border none
  border-radius 0 !important
  box-shadow 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24)
  margin 10px 0

  &__time
    flex-grow 1
    text-align center
    color color_light_blue
    font-weight 400

  &__shop
    flex-grow 1
    text-align center
    color color_dark-red
    font-weight 600

  &__owner
    flex-grow 3
    color color_default

  &__money
    flex-grow 3
    color color_default
    text-align right