@import './variables.styl'

body
  padding 0 15px
  background color_gray-light

.content-container
  padding-top 80px

.clearfix:before,
.clearfix:after
  content " "
  display table
.clearfix:after
  clear both
.clearfix
  *zoom 1
