// colors
color_dark-red = #C0392B;
color_red = #EA4335;

color_dark-green = #34A853;
color_green = #27AE60;
color_magic-green = #16A085;

color_default = #2C3E50;
color_dark = #2B2B2B;
color_gray = #BDC3C7;
color_gray-light = #ECF0F1;

color_blue = #2980B9;
color_light_blue = #3498DB;

color_primary = #F8FAFF;
color_primary_fade = #8EC0E4;

color_orange = #FEAA00;

//sizes
height_header = 50px

green = #a29c9c
color_green = #ACC359
color_link = #4D7FA0
color_main = #C6C5B9
color_main_green = #69A644
color_white = #FEFEFE
color_head = #C6C5B9
color_black = #282828
color_blue = #96BCD4