// colors
color_main = #8CBB70
color_main_green = #69A644
color_bg = #E0E0E0
color_input-border = #B4B4B4
color_input-bg--active = #DFDFDF
color_input-border--active = #93B6CD
color_main_border = #AFCDDA

color_white = #FEFEFE
color_black = #282828
color_green = #ACC359
color_magic-green = #16A085
color_default = #2C3E50
color_gray = #BDC3C7
color_gray-mid = #4B4B4B
color_blue = #96BCD4
color_blue-dark = #6489A0

//sizes
height_header = 50px
width_sm =768px
width_xs = 480px