.header
  .navbar
    height height_header
    background-color white
    box-shadow 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28)

    .icon-bar
      background white

    .navbar-brand
      color color_default
      font-weight 500
      font-size 2em

    .navbar-collapse
      box-shadow none

      li > a
        font-size 16px
        color #000
        &:hover,
        &:active,
        &.active
          background-color color_gray-light
        .badge
          line-height 0.8
