<template name="header">
    <header class="header">
        <nav class="navbar navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{pathFor 'index'}}">Gitfood</a>
                </div>
                <div class="collapse navbar-collapse" id="navigation">
                    {{#if currentUser}}
                    <ul class="nav navbar-nav">
                        <li><a class="{{isActiveRoute 'pool_add'}}" href="{{pathFor 'pool_add'}}">Добавить пулл</a></li>
                        {{#if isAlreadyCreatedPool}}
                            <li><a class="{{isActiveRoute 'history'}}" href="{{pathFor 'history'}}">Созданные пуллы</a></li>
                        {{/if}}
                        {{#if isAlreadyDebts}}
                            <li>
                                <a href="{{pathFor 'debts'}}">Долги
                                {{#if paidOrdersPrice}}
                                    <span class="badge">{{paidOrdersPrice}}</span>
                                {{/if}}
                                </a>
                            </li>
                        {{/if}}
                        {{#if isHaveFeeds}}
                            <li><a class="{{isActiveRoute 'feeds'}}" href="{{pathFor 'feeds'}}">Уведомления
                            {{#if feedsUnseenCount }}
                                <span class="badge badge-inverse">{{ feedsUnseenCount }}</span>
                            {{/if}}
                        </a></li>
                        {{/if}}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>{{>profileButton}}</li>
                        <li>{{>logoutButton}}</li>
                    </ul>
                    {{/if}}
                </div>
            </div>
        </nav>
    </header>
</template>
