div, a, button
  -webkit-transition: .2
  s-moz-transition: .2
  s-ms-transition: .2
  s-o-transition: .2
  transition: .2s
a
&:hover
  cursor: pointer
input
&:focus
  -webkit-box-shadow: none !important
  -moz-box-shadow: none !important
  box-shadow: none !important
&[type="email"], &[type="password"], &[type="text"]
  height: 30px !important
  padding-left: 10px

.ya-button
  padding: 10px 20px
  text-align: center
  box-sizing: border-box
  display: inline-block
  background-color: #eee
  -webkit-border-radius: 6px
  -moz-border-radius: 6px
  border-radius: 6px
  &:hover
    background-color: #ddd

