html
  height 100%

body
  font-family 'Roboto Mono', SansSerif
  position absolute;
  top 0
  bottom 0
  left 0
  right 0
  height 100%

body:before
  content ""
  position absolute
  height 20%
  width 20%
  background url('/images/bg.jpg')
  background-size cover
  z-index -1
  -webkit-transform scale(5)
  transform scale(5)
  -webkit-transform-origin top left
  transform-origin top left
  -webkit-filter blur(1px)
  filter blur(1px)

a:hover
  cursor pointer

// @TODO: delete
.rbt
  text-align center
  position absolute
  top 0
  right 0

.row
  margin-right: 0
  margin-left: 0