// @TODO: refactor this

.login-form .form-control
  -webkit-box-shadow none !important
  -moz-box-shadow none !important
  box-shadow none !important
  border 0
  border-bottom 2px solid #ddd
  border-radius 0
  background-color transparent
  gf-placeholder_style(bold, .2s)

.login-form .form-control:focus
  placeholder_font(0)