.gf-footer
  text-align center
  width 100%
  position absolute
  bottom 1px
  height 30px
  background-color gf-gray-light
  border-top 1px solid gf-gray-mid
  z-index 1
  &_text
    margin 0
    line-height 30px