<template name="poolSummary">
    <div class="row content-container">
        <div class="list-group col-xs-12 col-sm-8 col-sm-offset-2">
            <h4>{{_id}}</h4>
            <h6>{{state}}</h6>
            <div class="rbt">
                <span class="badge">{{time}}</span>
            </div>
            <div class="list-group-item-text">
            {{#if poolItems}}
                <ul>
                    {{#each poolItems}}
                        <li>{{data._id}}: {{count}} шт (для {{userIds}})</li>
                    {{/each}}
                </ul>
            {{/if}}
            </div>
        </div>
        <div class="row">
            <div class="list-group col-xs-12 col-sm-8 col-sm-offset-2">
                <a href="{{pathFor 'history'}}" class="btn btn-warning close-pool">Close</a>
            </div>
        </div>
    </div>
</template>
