<template name="poolSummary">
    <div class="container clearfix content-container">
        <div class="gf-shadow">
            {{>poolHeader}}
            <div class="gf-items">
            {{#if poolItems}}
                    {{# each poolItems }}
                        <li class="gf-items__owner">
                            <span class="gf-items__owner_name">
                                {{#with data}}
                                    {{#if link}}
                                        <a class="gf-link-dark" href="{{link}}" target="_blank" title="{{description}}">{{title}}</a>
                                    {{else}}
                                        {{title}}
                                    {{/if}}
                                {{/with}}
                            </span>
                            <span class="gf-items__owner_price">
                                ({{getPriceWithFormat data.price}})
                            </span>
                            {{#if moreOne count}}
                                <span class="item__count">
                                    x{{count}}
                                </span>
                            {{/if}}
                            {{#if userIds}}
                                {{#each userIds}}
                                <div class="gf-user">
                                    {{usermail userId}}
                                </div>
                                {{/each}}
                            {{/if}}
                        </li>
                    {{/each}}
            {{/if}}
            </div>
        </div>
        <div class="row">
            <div class="container gf-summary">
                {{#if getShopMail _id}}
                    <a href="{{pathFor 'pool' _id}}" class="gf-button gf-button--blue gf-send">Отправить заказ<span class="hidden-xs"> на {{getShopMail _id}}</span></a><span class="gf-get-debts"> и собрать <a class="gf-link" href="/debts">долги</a></span>
                {{else}}
                    <p>У данного магазина отсутствует автозаказ, необходимо заполнить корзину {{shop}}.</p>
                    <a href="{{pathFor 'pool' _id}}" class="btn btn-warning close-pool">Закрыть пулл</a> и собрать <a class="gf-link" href="/debts">долги</a>
                {{/if}}
            </div>
        </div>
    </div>
</template>
