<template name="poolSummary">
    <div class="row content-container">
        <div class="list-group col-xs-12 col-sm-8 col-sm-offset-2">
            {{>poolHeader}}
            <div class="list-group-item-text">
            {{#if poolItems}}
                <ul class="items">
                    {{# each poolItems }}
                        <li class="item item_pt">
                            <span class="item__title">
                                {{#with data}}
                                    {{#if link}}
                                        <a href="{{link}}" target="_blank" title="{{description}}">{{title}}</a>
                                    {{else}}
                                        {{title}}
                                    {{/if}}
                                {{/with}}
                            </span>
                            <span class="item__price">
                                ({{getPriceWithFormat data.price}})
                            </span>
                            {{#if moreOne count}}
                                <span class="item__count">
                                    x{{count}}
                                </span>
                            {{/if}}
                            {{#if userIds}}
                            <ul class="users">
                                {{#each userIds}}
                                <li class="user">
                                    {{usermail userId}}
                                </li>
                                {{/each}}
                            </ul>
                            {{/if}}
                        </li>
                    {{/each}}
                </ul>
            {{/if}}
            </div>
        </div>
        <div class="row">
            <div class="list-group col-xs-12 col-sm-8 col-sm-offset-2">
                {{#if getShopMail _id}}
                    <a href="{{pathFor 'pool' _id}}" class="btn btn-success close-pool">Отправить заказ на {{getShopMail _id}}</a> и собрать долги
                {{else}}
                    <p>У данного магазина отсутствует автозаказ, необходимо заполнить корзину {{shop}}.</p>
                    <a href="{{pathFor 'pool' _id}}" class="btn btn-warning close-pool">Закрыть пулл</a> и собрать долги
                {{/if}}
            </div>
        </div>
    </div>
</template>
