<template name="ordersList">
        {{#if poolOrders}}
            <ul class="gf-items">
                {{#each poolOrders }}
                    {{>ordersListItem}}
                {{/each}}
            </ul>
        {{/if}}
</template>

<template name="ordersListItem">
    <li class="gf-items__owner {{#if isPaid }}order_ispaid{{/if}}">
        <span class="gf-items__owner_name">
            <div class="gf-items__owner_img-wrap">
                <img class="gf-items__owner_img" src="{{avatarUser userId 32}}" width="32" height="32" alt="avatar user">
            </div>
            {{usermail userId}}
        </span>

        <span class="gf-items__owner_price">
            {{getOrderPrice _id}}
        </span>
        {{#if isPoolPending poolId}}
            {{#unless haveOrder poolId}}
                <span class="items_copy-order octicon octicon-repo-force-push" data-orderId="{{_id}}"></span>
            {{/unless}}
        {{/if}}
        {{#if isPoolArchived poolId}}
            {{#unless isOrderOwner _id}}
                {{#if isPoolOwner poolId }}
                    {{#if isPaid }}
                        <input class="js-ispaid" type="checkbox" checked="checked" />
                    {{else}}
                        <input class="js-ispaid" type="checkbox" />
                    {{/if}}
                {{else}}
                <!--not owner-->
                {{/if}}
            {{/unless}}
        {{/if}}
        <div class="gf-items__wrap">
            {{# each items }}
                <div class="gf-item">
                    <span class="gf-item_name">
                        {{#with item}}
                        {{#if link}}
                            <a class="gf-item_link" href="{{link}}" target="_blank" title="{{description}}">{{title}}</a>
                        {{else}}
                            {{title}}
                        {{/if}}
                        {{/with}}
                    </span>
                    <span class="gf-item_price">
                        ({{getPriceWithFormat item.price}})
                    </span>
                    {{#if moreOne count}}
                        <span class="gf-item_quantity">
                            x{{count}}
                        </span>
                    {{/if}}
                </div>
            {{/each}}
        </div>
    </li>
</template>
