<template name="feeds">
    <div class="container content-container">
            <div class="gf-form">
            {{#if feeds}}
                {{#each feeds}}
                    {{> feed}}
                {{/each}}
            {{else}}
                <li><span>Нет уведомлений</span></li>
            {{/if}}
            </div>
        {{#if hasMore}}
            <div class="">
                <a class="load-more" href="/feeds/{{nextPath}}">Загрузить ещё</a>
            </div>
        {{/if}}
    </div>
</template>

<template name="feed">
    <div class="list-group {{#unless seen}} alert alert-success {{/unless}}">
        <div class="gf-feed clearfix">
            <div class="gf-feed__logo">
                <span class="glyphicon glyphicon-{{type}}" aria-hidden="true"></span>
            </div>
            <div class="gf-feed__body">
                <div class="gf-feed__time clearfix">
                    {{timeFromNow created}}
                </div>
                <div class="gf-feed__msg">
                    <span>
                        <img class="gf-user-img gf-feed_img" src="{{avatarUser userId 24}}" width="24" height="24" alt="avatar user">
                        {{feedActor userId}}
                    </span>
                    <span>
                        {{feedMessage message }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>
