.gf-
  &feed
    position relative
    padding-left 4em
    padding-bottom: 5px
    &__logo
      position absolute
      top 22px
      left 8px
      color color_main
      font-size 24px
      opacity .6
    &__body
      font-size 1em
    &__time
      color color_gray
      font-size: 12px;
      margin-bottom: 5px;
      font-style: italic;
    &__msg
      color color_default
    &_img
      vertical-align: -41%
