.feed
  position relative
  padding-left 2em
  &__logo
    position: absolute
    top 0.3em
    left -0.5em
    font-size 2em
    color color_gray
  &__body
    font-size 1em
  &__time
    color color_gray
    font-size 0.9em
  &__msg
    color color_default
