<template name="profileButton">
    <a class="{{isActiveRoute 'profile'}} gf-header__item" href="{{pathFor 'profile'}}">
        <img class="gf-user-img gf-menu__user-img" src="{{avatarUser currentUser._id 16}}" width="32" height="32" alt="avatar user">
        <span class="gf-user-name">{{usermail currentUser._id}}</span>
    </a>
</template>

<template name="logoutButton">
    <a href="#" class="js-logout gf-header__item">
        <span class="octicon octicon-sign-out"></span>
    </a>
</template>
