.login-form
  width: 300px
  margin 15vh auto 0
  padding 17px 30px 20px 30px
  border-radius 2px
  position relative
  opacity .98
  background color_gray-light
  border 1px solid #D7D7D7
  box-sizing content-box
  .control__input
    width 100%
    height 35px
    padding 0 10px 0 37px
    box-sizing border-box
    border 0
    border-bottom 1px solid color_gray
    font-size 16px
    font-weight 100
    letter-spacing .3px
    -webkit-transition .3s
    -moz-transition .3s
    -ms-transition .3s
    -o-transition .3s
    transition .3s
    background-color #E5E5E5
    -webkit-border-radius 0
    -moz-border-radius 0
    border-radius 0
  .octicon
    position absolute
    bottom 8px
    font-size 20px
    left 10px
    color #AAAAAA
    opacity .7
    -webkit-transition .3s
    -moz-transition .3s
    -ms-transition .3s
    -o-transition .3s
    transition .3s

#login-buttons
  display block
  .control
    &.has-success
      >input+span
        color green
    &.has-error
      >input+span
       color color_orange


#login-buttons-password, #login-buttons-forgot-password
  margin 5px 0 0
  width 100%

.additional-link-container
  display inline-block
  width 100%
  text-align center
  font-size 18px

// @TODO delete all

#login-dropdown-list
  position relative
  top auto
  left initial

.accounts-dialog
  width auto
  margin 0 auto
  border none
  box-shadow none

#login-email-label-and-input,
#login-password-label-and-input
  margin 20px 0
  position relative

.btn-teamforce
  width 100%
  height 50px
  border none
  font-size 15px
  text-transform uppercase
  letter-spacing 0.4px
  border-radius 3px
  color color_black
  -webkit-transition .3s
  -moz-transition .3s
  -ms-transition .3s
  -o-transition .3s
  transition .3s
  display inline-block
  line-height 50px
  padding 0

//.login-form-create-account
//  .control__input
//    &:focus
//      background-color #DBEEFB
//      border-bottom 1px solid #72a5c5
//  .btn-teamforce
//    background-color #96BCD4
//    border 1px solid #96BCD4
//    &:hover
//      background-color #84b0cd
//      border 1px dashed #72a5c5
//
//.login-form-sign-in
//  .control__input
//    &:focus
//      background-color #E8ECDA
//      border-bottom 1px solid #93ab3e
//  .btn-teamforce
//    background-color #ACC359
//    border 1px solid #ACC359
//    &:hover
//      background-color #a3bc46
//      border 1px dashed #93ab3e

.additional-link
  float right
  margin-top 15px
  font-size 14px
  font-weight 500
  color #4D7FA0
  letter-spacing .1px
  text-decoration none
  cursor: pointer
  -webkit-transition: .3s
  -moz-transition: .3s
  -ms-transition: .3s
  -o-transition: .3s
  transition: .3s

#back-to-login-link,
#signup-link
  padding 0

#login-company-label-and-input
  position relative

.login-password-form
  animation fadeIn .5s ease

.gf-
  &popup
    width: 300px;
    margin: 15vh auto 0;
    padding: 17px 30px 20px 30px;
    background: color_white;
    border-radius: 2px;
    position: relative;
    opacity: .98;
    box-sizing: content-box;
    &_logo
      position: absolute;
      top: 74px;
      right: -85px;
      font-size: 32px;
      color: #FFF;
      opacity: .6;
      text-transform: none;
      font-weight: 100;
      transform: rotate(90deg);
  &user-name
    vertical-align: top