// auth.styl

// @TODO: delete all

.login-form
  width: 300px
  margin: 0 auto
  box-sizing: border-box
  padding: 20px 20px 5px

#login-buttons
  display block

#login-buttons-password, #login-buttons-forgot-password
  margin: 15px 0 10px
  width: 100%

.additional-link-container
  display: inline-block
  &:first-child
    float: left
  &:last-child
    float: right

.header-email
  position: absolute
  top: 0
  right: 20px
  font-size: 18px
  z-index 100
  a
    color: white
    line-height: 70px

#login-dropdown-list
  position: relative
  top: auto
  left: initial

.accounts-dialog
  width auto
  margin 0 auto
  border none
  box-shadow none
