.login-form
  width 380px
  margin 5em auto
  box-sizing border-box
  padding 40px 50px
  background color_gray-light

.btn-teamforce
  font-size 20px
  background-color color_primary
  border-color color_primary
  &:hover,
  &:active
    background-color color_primary_fade
    border-color color_primary_fade


#login-buttons
  display block
  .control
    &__input
      background none
      border none
      outline none
      padding 1em 1em 1em 3em
      display block
      width 100%
      border-bottom 1px solid color_gray
    &.has-success
      >input
        border-bottom 1px solid green
    &.has-error
      >input
        border-bottom 1px solid red
    #login-email
      background url('/img/i-email.png') 0.5em center no-repeat
    #login-company
      background url('/img/i-company.png') 0.5em center no-repeat
    #login-password
      background url('/img/i-password.png') 0.5em center no-repeat

#login-buttons-password, #login-buttons-forgot-password
  margin 15px 0 10px
  width 100%

.additional-link-container
  display inline-block
  width 100%
  cursor pointer
  text-align center
  font-size 18px

// @TODO delete all

.header-email
  position absolute
  top 0
  right 20px
  font-size 18px
  z-index 100
  a
    color white
    line-height 70px

#login-dropdown-list
  position relative
  top auto
  left initial

.accounts-dialog
  width auto
  margin 0 auto
  border none
  box-shadow none
