<template name="pool">
    <div class="row">
        <div class="list-group col-xs-12 col-sm-8 col-sm-offset-2">
            <h4>{{_id}}</h4>
            <div class="rbt">
                <span class="badge">{{time}}</span>
            </div>
            <div class="list-group-item-text">
            {{#if orders}}
                <ul>
                    {{# each poolOrders }}
                        <li>
                            {{usermail owner}}
                            {{#unless haveOrder}}
                                {{#unless ourOrder owner}}
                                    <button class="copy_order" data-index="{{ @index }}">+</button>
                                {{/unless}}
                            {{/unless}}
                        </li>
                        <ul>
                            {{# each items }}
                                <li>{{ item.title }} : {{ count }}</li>
                            {{/each}}
                        </ul>
                    {{/each}}
                </ul>
            {{/if}}
            </div>
        </div>
        <div class="row">
            <div class="list-group col-xs-12 col-sm-8 col-sm-offset-2">
                <a href="{{pathFor 'pool_append' poolId=_id }}" class="btn btn-primary">Присоединиться</a>
            </div>
        </div>
    </div>
</template>
